:root {
  --bg-color: #04152b;
  --dark-blue: #031834;
  --light-blue: #08418a;
  --accent-color: #d34f00;
  --font-color-primary: lightgrey;
  --font-color-secondary: #fff;

  --font-size-700: 1.953rem;
  --font-size-600: 1.563rem;
  --font-size-500: 1.25rem;
  --font-size-400: 1rem;
  --font-size-300: 0.8rem;
  --font-size-200: 0.64rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color-primary);
}

header {
  background-color: transparent;
  margin: 0 2rem;
  padding: 1rem 0;
}

img {
  max-width: 100%;
}

h2 {
  font-size: var(--font-size-700);
  margin-bottom: 1rem;
}

h3 {
  font-size: var(--font-size-500);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  margin-left: auto;
}

.inline-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 0.5rem;
}

.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-center {
  margin: 0 auto;
}

@media (min-width: 55em) {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  color: var(--font-color-secondary);
  text-shadow: 2px 2px 8px var(--light-blue);
}

.project-items > a {
  text-decoration: none;
  color: var(--accent-color);
}

.about-img {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.about-txt {
  border-left: 5px solid var(--accent-color);
  font-weight: 400;
  padding: 1rem;
  margin: 1rem;
  line-height: 1.6;
  max-width: 75ch;
  min-width: 20ch;
}

.projects-wrapper {
  gap: 1rem;
  flex-wrap: wrap;
}

.project-items {
  border-radius: 10px;
  box-shadow: 2px 2px 8px #031834;
  padding: 1rem;
  margin: 1rem;
  max-width: 20%;
  min-width: 35ch;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  box-shadow: -1px -1px 10px -5px var(--light-blue);
}

.contact-wrapper {
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
  border-right: 5px solid var(--accent-color);
  overflow: hidden;
}

.contact-txt {
  min-width: 35ch;
  max-width: 50ch;
  line-height: 1.6;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-txt > p {
  margin: 1rem 0;
}

.contact-txt ul li {
  padding-top: 5px;
}

.contact-form {
  max-width: 25rem;
  display: grid;
  gap: 1rem;
  border: none;
}

.form-name {
  grid-row: 1;
  grid-column: 1;
}

.form-email {
  grid-row: 1;
  grid-column: 2;
}

.form-phone {
  grid-row: 2;
  grid-column: 1 / span 2;
}

.form-message {
  grid-row: 3;
  grid-column: 1 / span 2;
}

.form-button {
  grid-row: 4;
  grid-column: 1 / span 2;
  border-radius: 5px;
  border: 1px solid var(--font-color-primary);
}

input,
textarea {
  background-color: var(--bg-color);
  outline: none;
  margin: 0.5rem;
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: var(--font-color-primary);
}

textarea {
  min-height: 3rem;
  border: 1px solid var(--font-color-primary);
  border-radius: 2px;
  resize: none;
  color: var(--font-color-primary);
  font-family: inherit;
}

label input {
  border: none;
  border-bottom: 1px solid var(--font-color-primary);
  color: var(--font-color-primary);
}

.form-button {
  color: var(--font-color-primary);
  width: 25%;
}

.form-button:hover {
  background-color: var(--dark-blue);
  color: var(--font-color-primary);
  box-shadow: 1px 1px 8px var(--light-blue);
}

footer {
  height: 3rem;
  border-top: 1px solid black;
  font-size: var(--font-size-300);
}
