:root {
  --bg-color: #04152B;
  --dark-blue: #031834;
  --light-blue: #08418A;
  --accent-color: #D34F00;
  --font-color-primary: lightgrey;
  --font-color-secondary: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
}


html {
    font-family: Helvetica, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color-primary);
}

header {
    background-color: transparent;
    margin: 0 2rem;
    padding: 1rem 0;
  }

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  margin-left: auto;
}

.inline-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: .5rem;
}

.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:active {
  color: var(--font-color-secondary);
  text-shadow: 2px 2px 8px var(--light-blue);
}

.project-items > a {
  text-decoration: none;
  color: var(--accent-color);
}

main > section {
  height: 30rem;
}

.welcome {
  background: url(https://picsum.photos/id/664/1600/900);
  height: 100vh;
  background-size: cover;
  display: flex;
}



.about-img {
    margin: 1rem;
    border-radius: 5px;
    
}

.about-txt {
    border-left: 5px solid var(--accent-color);
    font-weight: 400;
    padding: 1rem;
    margin: 1rem;
    line-height: 1.6;
    max-width: 75ch;
}

.projects-wrapper {
    gap: 1rem;
    flex-wrap: wrap;
  }

 .project-items {
    border-radius: 10px;
    box-shadow: 2px 2px 8px #031834;
    padding: 1rem;
    margin: 1rem;
    max-width: 20%;
    min-width: 40ch;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    box-shadow: -1px -1px 10px -5px var(--light-blue);
  }

  .project-items > img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

.contact-wrapper {
    gap: 1rem;
    padding: 1rem;
    height: 25rem;
  }

.contact-txt {
  width: 38ch;
  line-height: 1.6;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-txt > p {
  margin-top: 1rem;
}

.contact-txt ul li {
  padding-top: 5px;
}

.contact-form{
  display: grid;
  gap: 5px;
  padding: 1rem;
  border: none;
}

.form-name {
  grid-row: 1;
  grid-column: 1;
}

.form-email {
  grid-row: 1;
  grid-column: 2;
}

.form-phone {
  grid-row: 2;
  grid-column: 1 / span 2;
  }


.form-message {
  grid-row: 3;
  grid-column: 1 / span 2;
}

.form-button {
  grid-row: 4;
  grid-column: 1 / span 2;
  width: 50%;
  border-radius: 5px;
  border: 1px solid black;
  width: 25%;
}

input, textarea {
  background-color: var(--bg-color);
}

input::placeholder, textarea::placeholder {
  color: var(--font-color-primary);
}

textarea {
  border: 1px solid black;
}


label input {
  border: none;
  border-bottom: 1px solid black;
  color: var(--font-color-primary);
}

.form-button {
  color: var(--font-color-primary);
}

.form-button:hover {
  background-color:var(--dark-blue);
  color: var(--font-color-primary);
  box-shadow: 1px 1px 8px var(--light-blue);
}

footer {
    height: 3rem;
    border-top: 1px solid black;
    font-size: 12px;
  }